source https://api.nuget.org/v3/index.json

nuget MassTransit
nuget EventStore.Client < 4
nuget Newtonsoft.Json
nuget FAKE
nuget GitVersion.CommandLine

nuget EventStore.Client.Embedded < 4
nuget xunit
nuget xunit.runner.console
nuget Shouldly